<mat-nav-list>
  <a mat-list-item [routerLink]="'/'"
    ><mat-icon class="sidebar__icon">dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item [routerLink]="'/atendimentos'"
    ><mat-icon class="sidebar__icon">family_restroom</mat-icon> Atendimentos
  </a>
  <a mat-list-item [routerLink]="'/pacientes'"
    ><mat-icon class="sidebar__icon">group</mat-icon> Pacientes
  </a>
  <a mat-list-item [routerLink]="'/cadastro-de-paciente'"
    ><mat-icon class="sidebar__icon">person_add</mat-icon>
    Cadastro de Paciente
  </a>
  <a mat-list-item [routerLink]="'/usuarios'"
    ><mat-icon class="sidebar__icon">person</mat-icon> Usuários
  </a>
  <a mat-list-item [routerLink]="'/cadastro-de-usuario'"
    ><mat-icon class="sidebar__icon">person_add</mat-icon>
    Cadastro de Usuário
  </a>
</mat-nav-list>
