<mat-divider></mat-divider>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/dashboard"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">dashboard</mat-icon>
    <p matLine>Dashboard</p>
  </a>
</mat-list>

<mat-divider></mat-divider>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/atendimento/novo"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">add_circle</mat-icon>
    <p matLine>Novo Atendimento</p>
  </a>
</mat-list>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/atendimentos"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">source</mat-icon>
    <p matLine>Atendimentos</p>
  </a>
</mat-list>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/sala-de-espera"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">assignment</mat-icon>
    <p matLine>Sala de Espera</p>
  </a>
</mat-list>

<mat-divider></mat-divider>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/paciente/novo"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">person_add</mat-icon>
    <p matLine>Novo Paciente</p>
  </a>
</mat-list>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/pacientes"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">source</mat-icon>
    <p matLine>Pacientes</p>
  </a>
</mat-list>

<mat-divider></mat-divider>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/colaborador/novo"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">person_add</mat-icon>
    <p matLine>Novo Colaborador</p>
  </a>
</mat-list>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/colaboradores"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">source</mat-icon>
    <p matLine>Colaboradores</p>
  </a>
</mat-list>

<mat-divider></mat-divider>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/triagem"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">add_circle</mat-icon>
    <p matLine>Triagem</p>
  </a>
</mat-list>

<mat-divider></mat-divider>

<mat-list class="nav">
  <a
    mat-list-item
    routerLinkActive="active-link"
    class="hover"
    routerLink="/consulta"
  >
    <mat-icon mat-list-icon routerLinkActive="active-icon">add_circle</mat-icon>
    <p matLine>Consulta</p>
  </a>
</mat-list>

<mat-divider></mat-divider>

<div class="sidebar-footer">
  <span class="sidebar-footer--name">UPA Helper - Versão 1.0.2</span><br />
  <span class="sidebar-footer--year">2021 - {{ currentYear }} </span>
</div>
