.mat-column-name {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.mat-column-cpf {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-cns {
  flex: 0 0 10.5% !important;
  width: 10.5% !important;
}

.mat-column-birthday {
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-actions {
  flex: 0 0 8% !important;
  width: 8% !important;
}
