<div class="container">
  <mat-card class="mat-elevation-z8" style="margin: 50px 0 50px 0">
    <div class="row">
      <div class="col-10">
        <h3 class="page-title">Consulta</h3>
      </div>
      <div class="col-2">
        <p class="attendance-number">
          Atendimento: <b>{{ attendanceData.id }}</b>
        </p>
      </div>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="PACIENTE">
        <div class="row" style="margin-top: 25px">
          <span>Dados Pessoais</span>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Nome: <b>{{ attendanceData.patient.name }}</b>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <p>
              Nascimento:
              <b>{{ attendanceData.patient.birthday | date: "dd/MM/yyyy" }}</b>
            </p>
          </div>
          <div class="col-3">
            <p>
              Idade: <b>{{ attendanceData.patientAge + " Anos" }}</b>
            </p>
          </div>
          <div class="col-3">
            <p>
              Sexo: <b>{{ attendanceData.patient.genderId }}</b>
            </p>
          </div>
          <div class="col-3">
            <p>
              Cor/Raça/Etnia: <b>{{ attendanceData.patient.ethnicityId }}</b>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p>
              Pai: <b>{{ attendanceData.patient.fatherName }}</b>
            </p>
          </div>
          <div class="col-6">
            <p>
              Mãe: <b>{{ attendanceData.patient.motherName }}</b>
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 25px">
          <span>Documentação</span>
        </div>
        <div class="row" style="margin-top: 5px">
          <div class="col-4">
            <p>
              RG: <b>{{ attendanceData.patient.rg }}</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              CPF: <b>{{ attendanceData.patient.cpf }}</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              CNS: <b>{{ attendanceData.patient.cns }}</b>
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 25px">
          <span>Endereço</span>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col-8">
            <p>
              Logradouro: <b>{{ attendanceData.patient.address }}</b>
            </p>
          </div>
          <div class="col-2">
            <p>
              Número: <b>{{ attendanceData.patient.number }}</b>
            </p>
          </div>
          <div class="col-2">
            <p>
              CEP: <b>{{ attendanceData.patient.zipCode }}</b>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-5">
            <p>
              Bairro: <b>{{ attendanceData.patient.neighborhood }}</b>
            </p>
          </div>
          <div class="col-5">
            <p>
              Cidade: <b>{{ attendanceData.patient.city }}</b>
            </p>
          </div>
          <div class="col-2">
            <p>
              Estado: <b>{{ attendanceData.patient.state | uppercase }}</b>
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 25px">
          <span>Dados da Recepção</span>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Informação:
              <b>{{ attendanceData.receptionInformation }}</b>
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 5px; margin-bottom: 25xp">
          <div class="col-12">
            <p>
              Chegada:
              <b>{{
                attendanceData.arrivalDate
                  | date: "EEEE, dd 'de' MMMM 'de' y 'às' h:mm:ss"
              }}</b>
            </p>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="TRIAGEM">
        <div class="row" style="margin-top: 25px">
          <span>Pré-consulta</span>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Informações: <b>{{ attendanceData.triage.preInformation }}</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Medicamentos em uso:
              <b>{{ attendanceData.triage.medicines }}</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Alergias: <b>{{ attendanceData.triage.allergies }}</b>
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 25px">
          <span>Sinais Vitais</span>
        </div>
        <div class="row">
          <div class="col-4">
            <p>
              P.A.: <b>{{ attendanceData.triage.bloodPressure }} mmHg</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              Pulso: <b>{{ attendanceData.triage.pulse }} FC</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              Glicemia: <b>{{ attendanceData.triage.bloodGlucose }} mg/dL</b>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <p>
              Temperatura: <b>{{ attendanceData.triage.temperature }} °C</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              Freq. Respiratória:
              <b>{{ attendanceData.triage.respiratoryFrequency }} bpm</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              Sat O2: <b>{{ attendanceData.triage.saturation }} %</b>
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 25px">
          <span>Características</span>
        </div>
        <div class="row">
          <div class="col-4">
            <p>
              Peso: <b>{{ attendanceData.triage.weight }} Kg</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              Altura: <b>{{ attendanceData.triage.height }} m</b>
            </p>
          </div>
          <div class="col-4">
            <p>
              IMC: <b>{{ attendanceData.triage.imc }} kg/m²</b>
            </p>
          </div>
        </div>

        <div class="row" style="margin-top: 5px; margin-bottom: 25xp">
          <div class="col-12">
            <p>
              Data/Horário:
              <b>{{
                attendanceData.triage.triageDate
                  | date: "EEEE, dd 'de' MMMM 'de' y 'às' h:mm:ss"
              }}</b>
            </p>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="CONSULTA">
        <form>
          <div class="row" style="margin-top: 25px">
            <span>Atendimento</span>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label>Diagnóstico</mat-label>
                <textarea
                  matInput
                  [formControl]="diagnosis"
                  rows="5"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label>Prescrição</mat-label>
                <textarea
                  matInput
                  [formControl]="prescription"
                  rows="5"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label>CID</mat-label>
                <input matInput [formControl]="cid" />
              </mat-form-field>
            </div>
          </div>
          <div class="row" style="margin-top: 25px">
            <span>Dados de Saída</span>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-card>
                <mat-radio-group [formControl]="exitData">
                  <p><mat-radio-button value="Alta">Alta</mat-radio-button></p>
                  <p>
                    <mat-radio-button value="A Revelia"
                      >Alta a Pedido / a Revelia</mat-radio-button
                    >
                  </p>
                  <p>
                    <mat-radio-button value="Óbito">Óbito</mat-radio-button>
                  </p>
                </mat-radio-group></mat-card
              >
            </div>
            <div class="col-6">
              <mat-card>
                <label>UPA 24 horas</label>
                <p>Elisa Sbrissa</p>
                <p>Franchozza</p>
              </mat-card>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>

    <form>
      <div style="margin-bottom: 25px; padding-top: 5px">
        <button
          (click)="createAppointment()"
          mat-raised-button
          style="margin-right: 10px"
          class="btn-primary-color"
          matTooltip="Salvar Consulta"
        >
          Salvar
        </button>
        <button
          [routerLink]="'/consulta'"
          mat-stroked-button
          style="margin-right: 10px"
          class="btn-primary-color--outline"
          matTooltip="Cancelar"
        >
          Cancelar
        </button>
        <button
          mat-stroked-button
          disabled
          style="position: absolute; right: 15px"
          class="btn-primary-color--outline"
          matTooltip="Imprimir Receituário"
        >
          Receituário
        </button>
      </div>
    </form>
  </mat-card>
</div>
