.mat-column-id {
  flex: 0 0 11% !important;
  width: 11% !important;
}

.mat-column-patientName {
  flex: 0 0 50% !important;
  width: 50% !important;
}

.mat-column-patientAge {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-date {
  flex: 0 0 11% !important;
  width: 11% !important;
}

.mat-column-attendanceStatus {
  flex: 0 0 16% !important;
  width: 16% !important;
}
