.mat-column-id {
  flex: 0 0 11% !important;
  width: 11% !important;
}

.mat-column-patientName {
  flex: 0 0 48% !important;
  width: 48% !important;
}

.mat-column-patientAge {
  flex: 0 0 9% !important;
  width: 9% !important;
}

.mat-column-date {
  flex: 0 0 16% !important;
  width: 16% !important;
}

.mat-column-attendanceStatus {
  flex: 0 0 16% !important;
  width: 16% !important;
}
