.mat-column-name {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.mat-column-age {
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-arrival {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-status {
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-actions {
  flex: 0 0 10% !important;
  width: 10% !important;
}
