<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="header__title">Cadastro de Usuário</h3>
    </div>
  </div>
</div>
<div class="container">
  <mat-card class="mat-elevation-z8">
    <form [formGroup]="form">
      <div class="row form-first-row">
        <div class="col-8">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [formControl]="name" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select [formControl]="userTypeId">
              <mat-option value="1"
                >Administrador(a) de Rede de Informação</mat-option
              >
              <mat-option value="2">Médico(a)</mat-option>
              <mat-option value="3">Enfermeiro(a)</mat-option>
              <mat-option value="4">Técnico de Enfermagem</mat-option>
              <mat-option value="5">Auxiliar Administrativo</mat-option>
              <mat-option value="6">Técnico em Radiologia</mat-option>
              <mat-option value="7">Técnico de Laboratório</mat-option>
              <mat-option value="8">Farmacêutico(a)</mat-option>
              <mat-option value="9">Diretor(a)</mat-option>
              <mat-option value="10">Coordenador(a)</mat-option>
              <mat-option value="11">Assistente de Serviços Gerais</mat-option>
              <mat-option value="12">Auxiliar de TI</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="birthday" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              startView="year"
              [startAt]="startDate"
            ></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>RG</mat-label>
            <input matInput [formControl]="rg" mask="00.000.000-0" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput [formControl]="cpf" mask="000.000.000-00" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput [formControl]="zipCode" mask="00000-000" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Logradouro</mat-label>
            <input matInput [formControl]="address" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput [formControl]="number" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Complemento</mat-label>
            <input matInput [formControl]="complement" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Bairro</mat-label>
            <input matInput [formControl]="neighborhood" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput [formControl]="city" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Estado</mat-label>
            <input
              matInput
              [formControl]="state"
              mask="AA"
              style="text-transform: uppercase"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Celular</mat-label>
            <input matInput [formControl]="cell" mask="(00)00000-0000" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput [formControl]="telephone" mask="(00)0000-0000" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" />
          </mat-form-field>
        </div>
      </div>
      <div class="row btn-action-row">
        <div class="col-1">
          <button
            mat-raised-button
            class="btn-clean"
            matTooltip="Limpar Formulario"
          >
            Limpar
          </button>
        </div>
        <div class="col-2">
          <button
            (click)="saveNewUser()"
            mat-raised-button
            class="btn-new"
            matTooltip="Cadastrar Usuário"
          >
            Cadastrar
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
