<div class="login">
  <mat-card>
    <mat-card-content>
      <form>
        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
        <p>Please login to continue</p>
        <mat-form-field class="login__full-width-input">
          <input
            matInput
            placeholder="Usuário"
            formControlName="userName"
            required
          />
          <!-- <mat-error *ngIf="isFieldInvalid('userName')"> -->
          <mat-error> Please inform your user name </mat-error>
        </mat-form-field>
        <mat-form-field class="login__full-width-input">
          <input
            matInput
            type="password"
            placeholder="Senha"
            formControlName="password"
            required
          />
          <!-- <mat-error *ngIf="isFieldInvalid('userName')"> -->
          <mat-error> Please inform your password </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
