<div class="login">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <form [formGroup]="form">
        <p class="login__title">UPA Helper</p>
        <mat-form-field
          class="login__full-width-input"
          style="padding-bottom: 10px"
        >
          <input
            matInput
            placeholder="CPF"
            formControlName="cpf"
            mask="000.000.000-00"
            required
          />
          <mat-error>Por favor, informe o seu CPF</mat-error>
        </mat-form-field>
        <mat-form-field class="login__full-width-input">
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Senha"
            formControlName="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error>Por favor informe sua senha</mat-error>
        </mat-form-field>
        <button mat-raised-button class="login__button" (click)="onLogin()">
          Entrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
