table,
.mat-form-field {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 10px 0 50px 0;
}

.header__title {
  margin-top: 14px;
}

.mat-column-patientName,
.mat-column-patientAge,
.mat-column-arrivalDate,
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-patientName {
  flex: 0 0 60% !important;
  width: 60% !important;
}

.mat-column-patientAge {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-arrivalDate {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-actions {
  flex: 0 0 8% !important;
  width: 8% !important;
}
