<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="header__title">Nova Ficha de Atendimento</h3>
    </div>
  </div>
</div>

<div class="container">
  <mat-card class="mat-elevation-z8">
    <div class="row form-first-row">
      <div class="col-10"><h2>Ficha de Atendimento Ambulatórial</h2></div>
      <div class="col-2">
        <p>Atendimento: <b>007</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Data/Horário de Chegada: <b>16/08/2021 - 11h11min</b></p>
      </div>
    </div>
    <div class="row" style="margin-top: 5px">
      <div class="col-12">
        <p>Nome: <b>Bart Simpson</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Nascimento: <b>01/04/1981</b></p>
      </div>
      <div class="col-3">
        <p>Idade: <b>10 anos</b></p>
      </div>
      <div class="col-3">
        <p>Sexo: <b>Masculino</b></p>
      </div>
      <div class="col-3">
        <p>Cor ou Raça/Etnia: <b>Amarelo</b></p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p>Pai: <b>Homer Simpson</b></p>
      </div>
      <div class="col-6">
        <p>Mãe: <b>Marge Simpson</b></p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-4">
        <p>RG: <b>00.000.000-0</b></p>
      </div>
      <div class="col-4">
        <p>CPF: <b>000.000.000-00</b></p>
      </div>
      <div class="col-4">
        <p>CNS: <b>00000000000000</b></p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-6">
        <p>Endereço: <b>Evergreen Terrace</b></p>
      </div>
      <div class="col-6">
        <p>Número: <b>742</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>Bairro: <b></b></p>
      </div>
      <div class="col-5">
        <p>Cidade: <b>Springfield</b></p>
      </div>
      <div class="col-2">
        <p>Estado: <b></b></p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <form [formGroup]="form">
      <div class="row" style="margin-top: 15px">
        <div class="col-8">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Dados da Recepção</mat-label>
            <textarea matInput [formControl]="receptionInformation"></textarea>
          </mat-form-field>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-6">
              <button
                mat-raised-button
                class="btn-new"
                matTooltip="Cadastrar Atendimento"
              >
                Salvar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button
                mat-raised-button
                [routerLink]="'/atendimento/novo'"
                class="btn-clean"
                matTooltip="Cancelar Atendimento"
              >
                Cancelar
              </button>
            </div>
            <div class="col-6">
              <button
                mat-raised-button
                class="btn-new"
                [routerLink]="'/paciente/novo'"
                matTooltip="Atualizar Paciente"
              >
                Atualizar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
