<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="header__title">Nova Ficha de Atendimento</h3>
    </div>
  </div>
</div>

<div class="container">
  <mat-card class="mat-elevation-z8">
    <div class="row form-first-row">
      <div class="col-12"><h2>Ficha de Atendimento Ambulatórial</h2></div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Data/Horário de Chegada:
          <b>{{ arrival | date: "EEEE, dd 'de' MMMM 'de' y 'às' h:mm:ss" }}</b>
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 5px">
      <div class="col-12">
        <p>
          Nome: <b>{{ patientData?.name }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>
          Nascimento: <b>{{ patientData?.birthday | date: "dd/MM/yyyy" }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Idade: <b>{{ patientAge }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Sexo: <b>{{ patientData?.gender?.label }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Cor/Raça/Etnia: <b>{{ patientData?.ethnicity?.label }}</b>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Pai: <b>{{ patientData?.fatherName }}</b>
        </p>
      </div>
      <div class="col-6">
        <p>
          Mãe: <b>{{ patientData?.motherName }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-3">
        <p>
          RG: <b>{{ patientData?.rg }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          CPF: <b>{{ patientData?.cpf }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          CNS: <b>{{ patientData?.cns }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          CEP: <b>{{ patientData?.zipCode }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-6">
        <p>
          Endereço: <b>{{ patientData?.address }}</b>
        </p>
      </div>
      <div class="col-6">
        <p>
          Número: <b>{{ patientData?.number }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>
          Bairro: <b>{{ patientData?.neighborhood }}</b>
        </p>
      </div>
      <div class="col-5">
        <p>
          Cidade: <b>{{ patientData?.city }}</b>
        </p>
      </div>
      <div class="col-2">
        <p>
          Estado: <b>{{ patientData?.state }}</b>
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <form [formGroup]="form">
      <div class="row" style="margin-top: 15px">
        <div class="col-8">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Dados da Recepção</mat-label>
            <textarea matInput [formControl]="receptionInformation"></textarea>
          </mat-form-field>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-6">
              <button
                mat-raised-button
                class="btn-success-color"
                (click)="createAttendance()"
                matTooltip="Cadastrar Atendimento"
              >
                Salvar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button
                mat-raised-button
                [routerLink]="'/atendimento/novo'"
                class="btn-warning-color"
                matTooltip="Cancelar Atendimento"
              >
                Cancelar
              </button>
            </div>
            <div class="col-6">
              <button
                mat-raised-button
                class="btn-success-color"
                [routerLink]="'/paciente/novo'"
                matTooltip="Atualizar Paciente"
              >
                Atualizar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
