table,
.mat-form-field {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 10px 0 50px 0;
}

.header__title {
  margin-top: 14px;
}

.mat-column-name,
.mat-column-userType,
.mat-column-cell,
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.mat-column-userType {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.mat-column-cell {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-actions {
  flex: 0 0 10% !important;
  width: 10% !important;
}
