.mat-column-name {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.mat-column-userType {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.mat-column-cell {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-actions {
  flex: 0 0 10% !important;
  width: 10% !important;
}
