.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #78b8f7;
  align-items: center;
}

.header__button {
  margin-left: 15px;
}

.header__logo {
  background-color: #ffffff;
  width: 220px;
  height: 60px;
  position: relative;
  top: -2px;
  left: -4px;
}

.header__text {
  text-decoration: none;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 24px;
  color: #78b8f7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__spacer {
  flex: 1 1 auto;
}
