.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__button {
  margin-left: 15px;
}

.header__logo {
  background-color: #ffffff;
  width: 220px;
  height: 60px;
  text-decoration: none;
}

.header__ {
  text-decoration: none;
}
