<mat-toolbar class="header">
  <div class="row header__logo">
    <p>
      <a class="row header__text-logo" [routerLink]="'/dashboard'"
        >UPA Helper</a
      >
    </p>
  </div>

  <button class="header__button" mat-button (click)="inputSideNav.toggle()">
    <mat-icon>swap_horiz</mat-icon>
  </button>

  <span class="header__spacer"></span>

  <button mat-button [matMenuTriggerFor]="beforeMenu" class="header__text">
    Olá, {{ token }}
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item [routerLink]="'/perfil'">Perfil</button>
    <button mat-menu-item>Sobre</button>
    <button mat-menu-item (click)="onLogout()">Sair</button>
  </mat-menu>
</mat-toolbar>
