<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="header__title">Triagem</h3>
    </div>
  </div>
</div>

<div class="container">
  <mat-card class="mat-elevation-z8">
    <div class="row form-first-row">
      <div class="col-10"><h2>Ficha de Atendimento Ambulatórial</h2></div>
      <div class="col-2">
        <p>
          Atendimento: <b>{{ attendanceData?.id }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Data/Horário da Triagem:
          <b>{{
            triageDate | date: "EEEE, dd 'de' MMMM 'de' y 'às' h:mm:ss"
          }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Data/Horário de Chegada:
          <b>{{
            attendanceData?.arrivalDate
              | date: "EEEE, dd 'de' MMMM 'de' y 'às' h:mm:ss"
          }}</b>
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 5px">
      <div class="col-12">
        <p>
          Nome: <b>{{ attendanceData?.patient?.name }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>
          Nascimento:
          <b>{{ attendanceData?.patient?.birthday | date: "dd/MM/yyyy" }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Idade: <b>{{ attendanceData?.patientAge }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Sexo: <b>{{ attendanceData?.patient?.genderId }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Cor ou Raça/Etnia: <b>{{ attendanceData?.patient?.ethnicityId }}</b>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Pai: <b>{{ attendanceData?.patient?.fatherName }}</b>
        </p>
      </div>
      <div class="col-6">
        <p>
          Mãe: <b>{{ attendanceData?.patient?.motherName }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-4">
        <p>
          RG: <b>{{ attendanceData?.patient?.rg }}</b>
        </p>
      </div>
      <div class="col-4">
        <p>
          CPF: <b>{{ attendanceData?.patient?.cpf }}</b>
        </p>
      </div>
      <div class="col-4">
        <p>
          CNS: <b>{{ attendanceData?.patient?.cns }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          CEP: <b>{{ attendanceData?.patient?.zipCode }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-6">
        <p>
          Endereço: <b>{{ attendanceData?.patient?.address }}</b>
        </p>
      </div>
      <div class="col-6">
        <p>
          Número: <b>{{ attendanceData?.patient?.number }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>
          Bairro: <b>{{ attendanceData?.patient?.neighborhood }}</b>
        </p>
      </div>
      <div class="col-5">
        <p>
          Cidade: <b>{{ attendanceData?.patient?.city }}</b>
        </p>
      </div>
      <div class="col-2">
        <p>
          Estado: <b>{{ attendanceData?.patient?.state }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-6">
        <p>
          Dados da Recepção: <b>{{ attendanceData?.receptionInformation }}</b>
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <form [formGroup]="form">
      <div class="row" style="margin-top: 15px">
        <div class="col-12">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Informações pré-consulta</mat-label>
            <textarea
              matInput
              [formControl]="preInformation"
              rows="5"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <mat-card>
            <label>Hipertensão:</label>
            <mat-radio-group>
              <p><mat-radio-button value="1">Sim</mat-radio-button></p>
              <p><mat-radio-button value="2">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Diabetes:</label>
            <mat-radio-group>
              <p><mat-radio-button value="1">Sim</mat-radio-button></p>
              <p><mat-radio-button value="2">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Fumante:</label>
            <mat-radio-group>
              <p><mat-radio-button value="1">Sim</mat-radio-button></p>
              <p><mat-radio-button value="2">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Cancer:</label>
            <mat-radio-group>
              <p><mat-radio-button value="1">Sim</mat-radio-button></p>
              <p><mat-radio-button value="2">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Transplantado:</label>
            <mat-radio-group>
              <p><mat-radio-button value="1">Sim</mat-radio-button></p>
              <p><mat-radio-button value="2">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col-6">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Medicamentos em uso</mat-label>
            <textarea matInput [formControl]="medicines" rows="5"></textarea>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Alergias</mat-label>
            <textarea matInput [formControl]="allergies" rows="5"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>P.A.</mat-label>
            <input matInput [formControl]="bloodPressure" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Pulso</mat-label>
            <input matInput [formControl]="pulse" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Glicemia Capilar</mat-label>
            <input matInput [formControl]="bloodGlucose" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Temperatura</mat-label>
            <input matInput [formControl]="temperature" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Freq. Respiratória</mat-label>
            <input matInput [formControl]="respiratoryFrequency" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Sat O2</mat-label>
            <input matInput [formControl]="saturation" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Peso</mat-label>
            <input matInput [formControl]="weight" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Altura</mat-label>
            <input matInput [formControl]="height" />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>IMC</mat-label>
            <input matInput [formControl]="imc" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Dor</mat-label>
            <mat-select
              [formControl]="painIntensity"
              [(ngModel)]="selectedPainIntensity"
            >
              <mat-option value="1">Dor Leve</mat-option>
              <mat-option value="2">Dor Moderada</mat-option>
              <mat-option value="3">Dor Intensa</mat-option>
              <mat-option value="4">Sem Dor</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Classificação de Risco</mat-label>
            <mat-select [formControl]="riskRating">
              <mat-option value="1">Azul</mat-option>
              <mat-option value="2">Verde</mat-option>
              <mat-option value="3">Amarelo</mat-option>
              <mat-option value="4">Laranja</mat-option>
              <mat-option value="5">Vermelho</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <button
                mat-raised-button
                [routerLink]="'/triagem'"
                class="btn-warning-color"
                matTooltip="Cancelar Atendimento"
              >
                Cancelar
              </button>
            </div>
            <div class="col-6">
              <button
                mat-raised-button
                class="btn-success-color"
                (click)="saveNewTriage()"
                matTooltip="Salvar Triagem"
              >
                Salvar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
