<div class="container">
  <mat-card class="mat-elevation-z8" style="margin: 50px 0 50px 0">
    <div class="row">
      <div class="col-10">
        <h3 class="page-title">Triagem para Atendimento</h3>
      </div>
      <div class="col-2">
        <p class="attendance-number">
          Atendimento: <b>{{ attendanceData.id }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Data/Horário da Triagem:
          <b>{{
            triageDate | date: "EEEE, dd 'de' MMMM 'de' y 'às' h:mm:ss"
          }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          Data/Horário de Chegada:
          <b>{{
            attendanceData.arrivalDate
              | date: "EEEE, dd 'de' MMMM 'de' y 'às' h:mm:ss"
          }}</b>
        </p>
      </div>
    </div>
    <div class="row" style="margin-top: 5px">
      <div class="col-12">
        <p>
          Nome: <b>{{ attendanceData.patient.name }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>
          Nascimento:
          <b>{{ attendanceData.patient.birthday | date: "dd/MM/yyyy" }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Idade: <b>{{ attendanceData.patientAge + " Anos" }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Sexo: <b>{{ attendanceData.patient.genderId }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          Cor/Raça/Etnia: <b>{{ attendanceData.patient.ethnicityId }}</b>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Pai: <b>{{ attendanceData.patient.fatherName }}</b>
        </p>
      </div>
      <div class="col-6">
        <p>
          Mãe: <b>{{ attendanceData.patient.motherName }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-4">
        <p>
          RG: <b>{{ attendanceData.patient.rg }}</b>
        </p>
      </div>
      <div class="col-4">
        <p>
          CPF: <b>{{ attendanceData.patient.cpf }}</b>
        </p>
      </div>
      <div class="col-4">
        <p>
          CNS: <b>{{ attendanceData.patient.cns }}</b>
        </p>
      </div>
      <div class="col-3">
        <p>
          CEP: <b>{{ attendanceData.patient.zipCode }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-6">
        <p>
          Endereço: <b>{{ attendanceData.patient.address }}</b>
        </p>
      </div>
      <div class="col-6">
        <p>
          Número: <b>{{ attendanceData.patient.number }}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>
          Bairro: <b>{{ attendanceData.patient.neighborhood }}</b>
        </p>
      </div>
      <div class="col-5">
        <p>
          Cidade: <b>{{ attendanceData.patient.city }}</b>
        </p>
      </div>
      <div class="col-2">
        <p>
          Estado: <b>{{ attendanceData.patient.state | uppercase }}</b>
        </p>
      </div>
    </div>

    <div class="row" style="margin-top: 5px">
      <div class="col-6">
        <p>
          Dados da Recepção: <b>{{ attendanceData.receptionInformation }}</b>
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <form [formGroup]="form">
      <div class="row" style="margin-top: 15px">
        <div class="col-12">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Informações pré-consulta</mat-label>
            <textarea
              matInput
              [formControl]="preInformation"
              rows="5"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <mat-card>
            <label>Hipertensão:</label>
            <mat-radio-group [formControl]="hasHypertension">
              <p><mat-radio-button [value]="true">Sim</mat-radio-button></p>
              <p><mat-radio-button [value]="false">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Diabetes:</label>
            <mat-radio-group [formControl]="hasDiabetes">
              <p><mat-radio-button [value]="true">Sim</mat-radio-button></p>
              <p><mat-radio-button [value]="false">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Fumante:</label>
            <mat-radio-group [formControl]="isSmoker">
              <p><mat-radio-button [value]="true">Sim</mat-radio-button></p>
              <p><mat-radio-button [value]="false">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Cancer:</label>
            <mat-radio-group [formControl]="hasCancer">
              <p><mat-radio-button [value]="true">Sim</mat-radio-button></p>
              <p><mat-radio-button [value]="false">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>Transplantado:</label>
            <mat-radio-group [formControl]="isTransplanted">
              <p><mat-radio-button [value]="true">Sim</mat-radio-button></p>
              <p><mat-radio-button [value]="false">Nao</mat-radio-button></p>
            </mat-radio-group></mat-card
          >
        </div>
        <div class="col-2">
          <mat-card>
            <label>UPA 24 horas</label>
            <p>Elisa Sbrissa</p>
            <p>Franchozza</p>
            <mat-radio-group> </mat-radio-group
          ></mat-card>
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col-6">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Medicamentos em uso</mat-label>
            <textarea matInput [formControl]="medicines" rows="5"></textarea>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Alergias</mat-label>
            <textarea matInput [formControl]="allergies" rows="5"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>P.A.</mat-label>
            <input
              matInput
              [formControl]="bloodPressure"
              suffix=" mmHg"
              mask="000/00"
            />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Pulso</mat-label>
            <input
              matInput
              [formControl]="pulse"
              suffix=" FC"
              [validation]="false"
              mask="000"
            />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Glicemia</mat-label>
            <input
              matInput
              [formControl]="bloodGlucose"
              suffix=" mg/dL"
              [validation]="false"
              mask="0000"
            />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Temperatura</mat-label>
            <input
              matInput
              [formControl]="temperature"
              suffix=" °C"
              [validation]="false"
              mask="00,00"
            />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Freq. Respiratória</mat-label>
            <input
              matInput
              [formControl]="respiratoryFrequency"
              suffix=" bpm"
              [validation]="false"
              mask="00"
            />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Sat O2</mat-label>
            <input
              matInput
              [formControl]="saturation"
              suffix=" %"
              [validation]="false"
              mask="000"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Peso</mat-label>
            <input
              matInput
              [formControl]="weight"
              suffix=" Kg"
              [validation]="false"
              mask="000,00"
            />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Altura</mat-label>
            <input
              matInput
              [formControl]="height"
              suffix=" m"
              [validation]="false"
              mask="0,00"
            />
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>IMC</mat-label>
            <input matInput [formControl]="imc" readonly="true" />
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Dor</mat-label>
            <mat-select
              [formControl]="painIntensityId"
              [(ngModel)]="selectedPainIntensity"
            >
              <mat-option [value]="1">Dor Leve</mat-option>
              <mat-option [value]="2">Dor Moderada</mat-option>
              <mat-option [value]="3">Dor Intensa</mat-option>
              <mat-option [value]="4">Sem Dor</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="form-field-full-width" appearance="fill">
            <mat-label>Classificação de Risco</mat-label>
            <mat-select [formControl]="riskRatingId">
              <mat-option [value]="1">Azul</mat-option>
              <mat-option [value]="2">Verde</mat-option>
              <mat-option [value]="3">Amarelo</mat-option>
              <mat-option [value]="4">Vermelho</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div style="margin-bottom: 25px; padding-top: 5px">
        <button
          (click)="createTriage()"
          mat-raised-button
          style="margin-right: 10px"
          class="btn-primary-color"
          matTooltip="Salvar Triagem"
        >
          Salvar
        </button>
        <button
          [routerLink]="'/triagem'"
          mat-stroked-button
          class="btn-primary-color--outline"
          matTooltip="Cancelar"
        >
          Cancelar
        </button>
      </div>
    </form>
  </mat-card>
</div>
