.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  background: #f5f5f5;
}
