@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "~@ng-select/ng-select/themes/material.theme.css";

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #f1f1f4;
  --color-primary: #4d4dff;
  --color-primary-dark: #0023ca;
  --color-primary-light: #8d7aff;
  --color-secondary: #5f259f;
  --color-secondary-dark: #8a5bbe;
  --color-secondary-light: #bea2dd;
  --color-success: #00b300;
  --color-error: #ff0000;
  --color-warning: #ff8000;
  --color-info: hsl(0, 66%, 47%);
  --color-text: #000;
  --color-text-secondary: #999;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-primary-light);
}

/* ScrollBar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-field-full-width {
  width: 100%;
}

.form-first-row {
  padding-top: 15px;
}

.header__add-button {
  color: var(--color-white) !important;
  background-color: var(--color-primary-light) !important;
}

.header__title {
  margin-top: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.mat-elevation-z8 {
  margin: 50px 0 50px 0;
}

.btn-primary-color,
.btn-secondary-color,
.btn-primary-color--outline,
.btn-secondary-color--outline {
  color: var(--color-white);
  text-transform: uppercase;
}

.btn-primary-color {
  background-color: var(--color-primary);
}

.btn-primary-color--outline {
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary);
}

.btn-secondary-color {
  background-color: var(--color-secondary);
}

.btn-secondary-color--outline {
  border: 1px solid var(--color-secondary) !important;
  color: var(--color-secondary);
}

.table-icon {
  cursor: pointer;
}

.table-icon:hover {
  color: var(--color-primary);
}
